doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title todue
  link(rel='stylesheet', href='/css/styles.min.css', media='screen', charset='utf-8')
  script(src='/js/libraries.min.js', charset='utf-8')
  script(src='/socket.io/socket.io.js', charset='utf-8')
body
  nav.navbar.navbar-fixed-top
    a.navbar-brand(href='/') todue
    button.navbar-toggler.hidden-sm-up.pull-xs-right(data-toggle='collapse', data-target='#collapse-navbar') &#9776;
    form#collapse-navbar.collapse.navbar-toggleable-xs.form-inline.new-task-form

  .container
    ul.list-group
      li.list-group-item.dif-easy Math
        span.tag.tag-default.tag-pill.pull-xs-right 2 Days
      li.list-group-item.dif-medium Study
        span.tag.tag-default.tag-pill.pull-xs-right 3 Days
      li.list-group-item.dif-hard
        .task-flex
          .task-input.input-group
            input.task-name.form-control(type='text',value='P.130#1-7')
            .input-group-addon.task-tag Hard
          .tag-due
            span.tag.tag-default.tag-pill.pull-xs-right 1 Week

  .container(id='container')

  script(
    type='text/babel'
  ).


  script(src='/js/scripts.min.js', charset='utf-8')
